<section class="user-post">
  <div class="post">
    <div class="title-counters">
      <h4><%= @post.title %></h4>
      <h5>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></h5>
    </div>
    <div class="post-description">
      <p><%= @post.text %></p>
    </div>
  </div>
  <div class="comments">
    <div class='post-comments'>
      <h4>Comments:</h4>
      <ul class='comments-list'>
        <% @comments.each do |comment| %>
          <% if comment.post_id == @post.id %>
            <li class='user-comment'>
              <p><%= User.find(comment.author_id).name %>: <%= comment.text %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="post-interaction">
    <div class='add-comment'>
      <%= link_to 'Add Comment', user_new_post_comment_path(@user), class: 'add-comment-btn' %>
    </div>
    <div class="add-like">
      <%= button_to 'Like', user_create_post_like_path, method: :post, class: 'add-like-btn' %>
    </div>
  </div>
</section>
